/* Estilos generales para toda la página */
body {
    background-color: #F5A623;
    font-family: 'Raleway', sans-serif;
}

/* Contenedor principal del perfil */
#profileForm{
    max-width: 900px;
    background-color: #EEAE39A6; /* Fondo ligeramente más claro que el fondo general */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: center;
}

/* Estilo para la imagen de perfil */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Hace la imagen circular */
    background-color: #333; /* Color de fondo negro para la imagen ficticia */
    margin-bottom: 20px;
    object-fit: cover; /* Esto asegura que la imagen se ajuste correctamente dentro del círculo */
}

/* Estilo de las etiquetas de los campos del formulario */
label {
    display: block;
    text-align: left;
    font-weight: bold;
    color: #333; /* Color del texto de las etiquetas */
}

/* Campos del formulario */
input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px 0;  /* Quita el padding lateral */
    border: none;  /* Elimina los bordes */
    border-bottom: 2px solid #000000; /* Solo agrega un borde inferior */
    background-color: transparent; /* Hace el fondo transparente */
    margin-bottom: 20px;
    outline: none; /* Elimina el borde azul predeterminado */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Efecto de cambio de color al hacer focus */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    border-bottom-color: black; /* Cambia el color de la línea inferior al hacer focus */
    outline: none; /* Evita el borde del navegador */
}

/* Asterisco rojo para campos obligatorios */
label .required {
    color: red;
}

/* Botón de guardar cambios en gris */
button {
    background-color: lightgray; /* Color gris */
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

/* Cambio de color en hover sobre el botón */
button:hover {
    background-color: gray; /* Un gris más oscuro cuando se pasa el ratón */
}

/* Estilo para la navegación */
.navbar-brand img {
  width: 80%;
  height: auto;
  display: block;
}

.navbar {
  color: #000000;
  background-color: #f8f9fa; /* Cambia esto a lo que necesitas, por ejemplo: #ffffff */
  border-bottom: 2px #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 115px;
}


.nav-item{
display: flex;
background-color: transparent;
}

.nav-item1{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

@media (max-width: 992px) { /* Para pantallas MD y SM */
  .navbar {
      height: 10vh; 
      padding: 0; 
      display: flex; 
      align-items: center; 
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
      padding-top: 0.2%; 
      padding-bottom: 0.5%;
      margin-right: 1vh;
  }
}

#infoUsuario {
  color: black;
}

/* Centrar el contenido del formulario */
form {
    text-align: left;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para el modo noche */
body.night-mode {
    background-color: #2e2e2e;
    color: #d6d6d6;
  }
  
  body.night-mode #toggleButton {
    background-color: #555;
    
  }

  body.night-mode #infoUsuario {
    color: white !important;
  }  
  
  body.night-mode .navbar { 
    background-color: #333; 
    border-bottom: 2px #2e2e2e; 
    height: 115px;
    } 
  
  button.night-mode {
    background-color: #333;
    color: #c2c2c2;
  }
  body.night-mode #profileForm {
    background-color: #4a4a4a !important;
  }

  body.night-mode .profile-pic {
    background-color: #c2c2c2
  }

  body.night-mode label {
    color: white;
  }

  body.night-mode input[type="text"],
  input[type="email"],
  input[type="tel"] {
    border-bottom: 2px solid white;
    color: white;
  }

  body.night-mode input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus {
    border-bottom-color: white;
    outline: none;
  }

  