.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (max-width: 768px)  {
  .jumbotron {
    height: 20vh;
  }
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* NUEVOS ESTILOS DEL PERFIL */
.profile-container {
  background-color: #F5A623; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.profile-container h2 {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.profile-container form {
  background-color: #FFD97F; 
  padding: 20px;
  border-radius: 8px;
}

.profile-container label {
  color: #333;
  font-weight: bold;
}

.profile-container input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-container button {
  background-color: #F5A623;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.profile-container button:hover {
  background-color: #D48921; /* Color de fondo del botón al pasar el mouse */
}

.profile-pic {
  display: block;
  margin: 0 auto 20px auto;
  width: 150px;
  height: 150px;
  background-color: #333;
  border-radius: 50%;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-header {
  text-align: center;
  margin-bottom: 30px;
}

.form-label {
  color: #333;
  font-weight: bold;
}

.navbar-brand img {
  width: 80%;
  height: auto;
  display: block;
}

.navbar {
  color: #000000;
  background-color: #f8f9fa;
  border-bottom: 2px #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 115px;
}


.nav-item{
display: flex;
background-color: transparent;
}

.nav-item1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#infoUsuario {
  color: black;
}

@media (max-width: 992px) { /* Para pantallas MD y SM */
  .navbar {
      height: 10vh; 
      padding: 0; 
      display: flex; 
      align-items: center; 
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
      padding-top: 0.2%; 
      padding-bottom: 0.5%;
      margin-right: 1vh;
  }
}

/* modo noche*/

body.night-mode .navbar {
  background-color: #333;
  border-bottom: 2px #2e2e2e;
  height: 115px;
}

body.night-mode #infoUsuario {
  color: white;
}

body.night-mode {
  background-color: #121212; /* Fondo oscuro */
  color: #ffcc00; /* Texto claro */
}

body.night-mode .jumbotron {
  background-color: #1e1e1e;
  color: #ffcc00;
}

body.night-mode .jumbotron .container {
  background-color: rgba(0, 0, 0, 0.6);
}

body.night-mode footer {
  background-color: #1e1e1e;
  color: #ffcc00;
}

body.night-mode .site-header a {
  color: #ffcc00;
}

body.night-mode .dropzone {
  border-color: #444444;
  background: #1e1e1e;
}

body.night-mode .alert {
  background-color: #333333;
  color: #ffffff;
}

body.night-mode .profile-container {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.night-mode .profile-container form {
  background-color: #2c2c2c;
}

body.night-mode .profile-container label {
  color: #ffffff;
}

body.night-mode .profile-container input {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
}

body.night-mode .profile-container button {
  background-color: #444444;
  color: #ffffff;
}

body.night-mode .profile-pic {
  background-color: #555555;
}

body.night-mode .navbar {
  background-color: #1e1e1e;
  color: #ffcc00;
}

body.night-mode .btn-light {
  background-color: #444444;
  color: #ffcc00;
  border: 1px solid #666666;
}

body.night-mode .btn-link {
  color: #ffcc00;
}

body.night-mode input.form-control {
  background-color: #333333;
  border: 1px solid #555555;
}

body.night-mode .list-group {
  background-color: #1e1e1e; 
  border: 1px solid #333; 
}

body.night-mode .list-group .list-group-item {
  background-color: #2c2c2c; 
  color: #ffcc00; 

}

body.night-mode .list-group .list-group-item:hover {
  background-color: #383838; /* Fondo al pasar el mouse */
  color: #ffffff; 
}

body.night-mode a {
  color: #ffcc00; /* Un color distintivo para enlaces en modo noche */
}

/*index html*/

body.night-mode .card {
  background-color: #2c2c2c;
  border: 1px solid #444; 
}

body.night-mode .card:hover {
  background-color: #383838; /* Fondo ligeramente más claro al pasar el mouse */
}

body.night-mode .card h3 {
  color: #ffcc00; 
}
body.night-mode .card p {
  color: #ffcc00; 
}

body.night-mode .btn-light:hover {
  background-color: #383838; /* Fondo al pasar el mouse */
  color: #ffffff; /* Texto más claro */
}

