/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFCC80; /* Fondo de la página */
}

h2 {
  text-align: center;
  color: #333;
  font-weight: bold;
  margin-top: 20px;
}

/* Contenedor del carrito */
.cart-container {
  background-color: #FFA726; /* Fondo del carrito */
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Elemento de producto en el carrito */
.cart-item {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #FFB74D; /* Fondo del producto */
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Imagen del producto */
.product-image {
  max-width: 50%;
    height: auto;
  border-radius: 5px;
  margin-bottom: 15px; 
  object-fit: cover;
  text-align: center;
}

/* Detalles del producto */
.product-details {
  flex:1;
}

.product-details h3 {
  margin: 0 0 10px;
  color: #333;
}

.product-details p {
  text-align: center;
  margin: 5px 0;
  color: #333;
}

/* Campo de costo */
.cost {
  background-color: #FFB74D;
  color: #333;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

/* Campo de subtotal destacado */
.subtotal {
  background-color: #FFA726;
  color: #333;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  text-align: center
}

/* Control de cantidad */
.quantity-control {
  display: flex;
  justify-content: center; 
  align-items: center;     
  margin-top: 15px;
}

.quantity-btn {
  background-color: #FFA726;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.quantity-btn:hover {
  background-color: #E67300;
}

.quantity {
  margin: 0 10px;
  font-size: 16px;
}

/* Enlace de eliminación */
.remove-link {
  color: #e9630a;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
}

.remove-link:hover {
  text-decoration: underline;
}

/* Botón de continuar compra */
.continue-btn {
  background-color: #FF8C00;
  color: white;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin-left: 550px;
}

.continue-btn:hover {
  color: white;
}

.preferences-container {
  background-color: white;
  max-width: 600px;
  margin: 80px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.preferences-container h3 {
  padding: 20px;
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
  background-color:#FFB74D;
}

.preferences-container h4 {
  margin-top: 20px;
  font-size: 21px;
  font-weight: bolder;
}

.finish-btn {
  background-color: #FF8C00;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.costs {
  background-color: rgb(213, 213, 213);
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  font-size: 18px;
}

.shipping-address {
  position: relative;
}

.add-address-btn {
  background: none;
  border: none;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  margin-left: 200px;
}

.address-popup {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 100%;
  max-width: 400px;
}

.address-popup label {
  display: block;
  margin-top: 10px;
  font-weight: 300;
}

.address-popup input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.close-popup-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

.address-popup .popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.cancel-btn {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.save-btn {
  background-color: #fd7e14;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.shipping-type, .payment-method {
  margin-left: 30px;
  padding: 10px;
}

.shipping-address h4 {
  text-align: center;
}

.dropdown-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  margin-left: 110px;
}

.dropdown-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

.dropdown-select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px 12px;
  cursor: pointer;
}

