body {
    font-family: 'Raleway', sans-serif;
    background-color: #EEAE39;
  }
  
  #productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 1.5%; 
    padding: auto;
  }
  
  .card {
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 330px;
  }
  
  .card img {
    width: 100%;
    object-fit: cover;
    display: block;
  }
  
  .card-body {
    padding: 0%;
    justify-content: space-around;
    flex-direction: column;
    background-color: #D9D9D9;
  }

  .card-sup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ABABAB80;
  }

  .card-inf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .card-title {
    font-size: 20px;
    color: #000000;
  }
  
  .card-text {
    font-size: 14px;
    color: #000000;
    background-color: #D9D9D9;
  }
  
  .card-precio {
    font-size: 20px;
    color: #FF0303;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .card-sold {
    font-size: 12px;
    color: #FFFFFF;
  }
  
  .nav-link img {
    width: 80%;
    height: auto;
    display: block;
    border: 1px solid orange;
  }
  
  .navbar {
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 115px;
  }

  .nav-link1 img{
    width: 51px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 50%;
  }

  .nav-link2 img{
    width: 80px;
    height: auto;
    display: flex;
    margin: 0px;
  }

  .nav-link3 img{
    color: orange;
    width: 51px;
    height: auto;
    display: flex;
  }

.nav-item{
  display: flex;
  background-color: transparent;
}

.nav-item1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  #infoUsuario {
    color: black;
  }

  .recorrido {
    display: flex;
    padding-left: 9.5%;
    padding-top: 0.5%;
    color: white;
  }
  
  .enlacesRecorrido {
    color: white;
  }

  .containerFooter {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;
  }