body {
    background-image: url("../img/fondo-login.jpg");/*Fondo para pantalla grande*/
    background-size: contain;
    background-size: 100% auto;
    background-position: top;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

/*Se cambia el fondo del login segun el tamaño de la pantalla - Pantalla*/
@media (max-width: 768px) {
    body {
        background-image: url("../img/fondo-tablet.jpg");
    }
}

/*Se cambia el fondo del login segun el tamaño de la pantalla - Pantalla chica*/
@media (max-width: 576px) {
    body {
        background-image: url("../img/fondo-celular.jpg");
    }
}

h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    font-weight: 400;
}

/*Aplica margenes en pantallas grandes - icono persona*/
@media (min-width: 992px) {
    #imagen {
      margin-top: -0.3em;
      margin-left: 22%;
    }
  }

  @media (max-width: 991.98px) {
    #imagen {
        margin-top: -0.3em;
        margin-left: 22%;
    }
  }

  /* Estilos para pantallas medianas y pequeñas - icono persona */
  @media (max-width: 768px) {
    #imagen {
      position: relative; /* MAntiene la posicion relativa */
      margin-top: -0.3em; /* Mantiene el margen superior */
      margin-left: auto; /* Auto para centrar horizontalmente */
      margin-right: auto; 
      display: block; /* Imagen centrada como bloque */
      width: fit-content; /* Se ajusta el ancho de la imagen al contenido */
    }
  }

 /* Para pantallas grandes se personaliza el estilo */
 @media (min-width: 992px) {
    #bienvenida {
      position: relative;
      margin-top: 9.5%;
      margin-left: 12%;
      width: 27.9%;
      height: 6%;
    }
  }

  /* Como quedaba una brecha entre el minimo de lg y el maximo de md tuve que repetir codigo para 
  cubrir ese margen que quedaba sin estilo */
 @media (max-width: 991.98px) {
    #bienvenida {
      position: relative;
      margin-top: 9.5%;
      margin-left: 12%;
      width: 27.9%;
      height: 6%;
    }
  }


  /* Estilos para pantallas medianas y pequeñas */
  @media (max-width: 768px) {
    #bienvenida {
      position: relative; /* Mantiene la posicion relativa */
      margin-top: 9.5%; /* Mantiene el margen superior */
      margin-left: auto; /* Auto para centrar horizontalmente */
      margin-right: auto; 
      width: fit-content; /* Ajusta el ancho del elemento al tamaño de su contenido */
    }
  }

  
  #ingresoDatos {
    position: relative;
    margin-top: 0.3%;
    margin-left: 10%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#ingresoDatos input {
  width: 300px; /* Ancho fijo para pantallas grandes */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

@media (max-width: 768px) {
#ingresoDatos{
  width: 80%; /* Ajusta el ancho de los campos de entrada al 80% del contenedor */
  max-width: 300px; /* Mantiene un ancho máximo para los campos de entrada */
  margin-left: auto; /* Centra el div horizontalmente */
  margin-right: auto; /* Centra el div horizontalmente */
}

#ingresoDatos input {
  width: 95%; /* Ajusta el ancho de los campos al 95% del contenedor */

}
}

#username, #password {
    width: 32%;
    height: 50px;
    border-radius: 25px;
    border-color: white;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(236, 26, 142);
    font-size: 180%;
    text-align: center;
   
}

#usuario, #contraseña {
    font-weight: 400;
    font-size: 150%;
    line-height: 3%;
    margin-left: 2%;
}

@media (min-width: 992px) {
button {
    background-color: #FFE1C6;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 120%;
    text-align: center;
}

#button {
    margin-top: 1%;
    margin-left: 20%;
}
}

@media (max-width: 991.98px) {
    button {
        background-color: #FFE1C6;
        border: none;
        width: 100px;
        height: 40px;
        font-size: 120%;
        text-align: center;
    }
    
    #button {
        margin-top: 1%;
        margin-left: 20%;
    }
    }

    @media (max-width: 768px) {
        button {
            background-color: #FFE1C6;
            border: none;
            width: 100px;
            height: 40px;
            font-size: 120%;
            text-align: center;
        }
        
        #button {
            margin-top: 1%;
            margin-left: auto; /* Auto para centrar horizontalmente */
            margin-right: auto; 
            width: fit-content; /* Ajusta el ancho del elemento al tamaño de su contenido */    
        }
        }


.sitio {
  color: white;
  width: 100%; /* Ajusta el ancho de los campos de entrada al 100% del contenedor */
  margin-left: 1%;
}

.linkjap {
  color: white;
  font-weight: bold;
}

.paginaprincipal {
  color: rgb(255, 145, 0);
  font-weight: bold;
  position: absolute;
  bottom: 0;   /* Alínea al fondo del contenedor */
  right: 0;    /* Alínea a la derecha del contenedor */
  margin: 20px; /* Margen opcional para separación */
  background-color: #ffe1c6;
  padding: 5px;
}