.navbar-brand img {
  width: 80%;
  height: auto;
  display: block;
}

.navbar {
  color: #000000;
  background-color: #f8f9fa; /* Cambia esto a lo que necesitas, por ejemplo: #ffffff */
  border-bottom: 2px #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 115px;
}


.nav-item{
display: flex;
background-color: transparent;
}

.nav-item1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

@media (max-width: 992px) { /* Para pantallas MD y SM */
  .navbar {
      height: 10vh; 
      padding: 0; 
      display: flex; 
      align-items: center; 
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
      padding-top: 0.2%; 
      padding-bottom: 0.5%;
      margin-right: 1vh;
  }
}

#infoUsuario {
  color: black;
}
  