body {
    font-family: 'Raleway', sans-serif;
    background-color: #EEAE39;
  }
  
  #productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 1.5%; 
    padding: auto;
  }
  
  .card {
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 330px;
  }
  
  .card img {
    width: 100%;
    object-fit: cover;
    display: block;
  }
  
  .card-body {
    padding: 0%;
    justify-content: space-around;
    flex-direction: column;
    background-color: #D9D9D9;
  }

  .card-sup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ABABAB80;
  }

  .card-inf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .card-title {
    font-size: 20px;
    color: #000000;
  }
  
  .card-text {
    font-size: 14px;
    color: #000000;
    background-color: #D9D9D9;
  }
  
  .card-precio {
    font-size: 20px;
    color: #FF0303;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .card-sold {
    font-size: 12px;
    color: #FFFFFF;
  }
  
  .navbar-brand img {
    width: 80%;
    height: auto;
    display: block;
  }
  
  .navbar {
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 115px;
  }


.nav-item{
  display: flex;
  background-color: transparent;
}

.nav-item1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  @media (max-width: 992px) { /* Para pantallas MD y SM */
    .navbar {
        height: 10vh; 
        padding: 0; 
        display: flex; 
        align-items: center; 
    }
  
    .navbar .navbar-brand,
    .navbar .nav-link {
        padding-top: 0.2%; 
        padding-bottom: 0.5%;
        margin-right: 1vh;
    }
  }

  #infoUsuario {
    color: black;
  }

  .recorrido {
    display: flex;
    padding-left: 9.5%;
    padding-top: 0.5%;
    color: white;
  }
  
  .enlacesRecorrido {
    color: white;
  }

  .containerFooter {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;
  }


  /*modo noche*/

  body.night-mode .navbar { 
    background-color: #333; 
    border-bottom: 2px #2e2e2e; 
    height: 115px; }

body.night-mode #infoUsuario {
  color: white;
}

body.night-mode {
  background-color: #121212;
  color: #ffcc00;
}

body.night-mode .navbar {
  background-color: #1f1f1f; 
  color: #ffcc00;
}

body.night-mode .card-precio {
  font-size: 20px;
  color: #860707;
  font-family: Arial, Helvetica, sans-serif;
}

body.night-mode .card-title {
  font-size: 20px;
  color: #cacaca;
}

body.night-mode .btn {
  background-color: #333333;
  color: #ffcc00;
  border: 1px solid #444; 
}

body.night-mode .btn:hover {
  background-color: #444444; 
}

body.night-mode input, 
body.night-mode select {
  background-color: #2c2c2c; 
  color: #ffcc00;  
  border: 1px solid #444; 
}


body.night-mode a {
  color: #ffcc00;
}

body.night-mode .card-body {
  background-color: #2c2c2c;
}


body.night-mode .card-text {
  color: #ffcc00;
  background-color: #2c2c2c;
}